:root{
    --primary: #90EE90;
    --secondary: #ee9090;
    --background: #141219;
}

html, body {
    font-family: arno-pro-display, serif;
    font-weight: 700;
    font-style: normal;
    /* background-color: var(--background); */
    background: hsla(265, 53%, 29%, 1);

    background: linear-gradient(270deg, hsla(265, 53%, 29%, 1) 0%, hsla(0, 73%, 75%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(265, 53%, 29%, 1) 0%, hsla(0, 73%, 75%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(265, 53%, 29%, 1) 0%, hsla(0, 73%, 75%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#432371", endColorstr="#EE9090", GradientType=1 );
    color: #D8DFEE;
}

.btn-primary-custom{
    background-color: var(--primary);
    transition: 0.9s;
    border: 0;
    color: var(--background);
}
.btn-primary-custom:hover {
    background-color: var(--primary);
    opacity: 0.6;
    color: var(--background);
}

.logo {
    font-family: adorn-roman, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
    padding: 2%;
}

.card {
    background-color: var(--background);
    /* background: hsla(265, 53%, 29%, 1);

    background: linear-gradient(360deg, hsla(265, 53%, 29%, 1) 0%, hsla(0, 73%, 75%, 1) 100%);

    background: -moz-linear-gradient(360deg, hsla(265, 53%, 29%, 1) 0%, hsla(0, 73%, 75%, 1) 100%);

    background: -webkit-linear-gradient(360deg, hsla(265, 53%, 29%, 1) 0%, hsla(0, 73%, 75%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#432371", endColorstr="#EE9090", GradientType=1 ); */
}
